@tailwind base;
@tailwind components;
@tailwind utilities;


.first-color { 
	background: #e7eaf6; 
}
	
.second-color { 
	background: #a2a8d3; 
}

.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67; 
}

body {
  color: #2d2f31;;
  background: #e7eaf6;
  font-family: Arial, Helvetica, sans-serif;
}
