@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e7eaf6;
  --secondary: #a2a8d3;
  --tertiary: #38598b;
  --background: #113f67;
  --text: #2d2f31;
}


body {
  color: var(--text);
  background: var(--primary);
  font-family: 'Open Sans', 'Lora', sans-serif;
}
